@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

html,
body {
    box-sizing: border-box;
    background-color: #fff;
    height: 100%;
    padding: 0;
    margin: 0;
    font-style: normal;
    font-family: 'Lato', sans-serif;
    background: url(https://st.depositphotos.com/1915171/4624/v/600/depositphotos_46247009-stock-illustration-diagonal-lines-white-pattern-seamless.jpg);
}

.container {
    display: grid;
    width: 100%;
    height: 250px;
    grid-template-areas:
        "head  head head"
        "main main  nav"
        "foot foot  foot";
}

header {
    grid-area: head;
    text-align: center;
    padding: 30px;
    width: 94%;
    margin: 8px auto;
    background-color: #ffffff;
    border-radius: 10px;
}

aside {
    grid-area: nav;
    margin: 20px 15px;
    padding: 0 30px;
    background-color: #efefef;
    border: 1px solid #afafaf;
    border-radius: 5px;
}

main {
    grid-area: main;
}

footer {
    width: 94%;
    margin: 8px auto;
    grid-area: foot;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    background-color: #ffffff;
    border-radius: 10px;
}

.items {
    display: flex;
    flex-wrap: wrap;
    min-width: 1183px;

}

.bulka,
.rulet,
.keks,
.tort {
    display: grid;
    width: 350px;
    height: 200px;
    margin: 20px;
    background-color: #efefef;
    border-radius: 5px;
    border: 1px solid #afafaf;
    transition: all .3s ease-out;
    cursor: pointer;
}

.item:hover {
    transform: translate(5px);
    box-shadow: 7px 7px 8px 0px rgba(34, 60, 80, 0.2);
    transition: all .3s ease-out;
}

.item img {
    width: 200px;
    float: left;
    margin: 10px;
    border-radius: 5px;
}

.name {
    margin: 10px;
}

.calories {
    margin: 10px;
    border-top: 1px solid #afafaf;
}

.range {
    display: flex;
    justify-content: center;
    margin: 35px 0;
}

h3 {
    text-align: center;
}

input[type='range'] {
    overflow: hidden;
    width: 200px;
    border-radius: 5px;
    border: 1px solid #afafaf;
    -webkit-appearance: none;
    background-color: #afafaf;
}

input[type='range']::-webkit-slider-runnable-track {
    height: 20px;
    -webkit-appearance: none;
    margin-top: -1px;
}

input[type='range']::-webkit-slider-thumb {
    width: 15px;
    -webkit-appearance: none;
    height: 20px;
    cursor: ew-resize;
    background: #434343;
    box-shadow: -100px 0 0 100px #ffffff;
}

input[type="range"]::-moz-range-track {
    background-color: #afafaf;
}

input[type="range"]::-ms-fill-upper {
    background-color: #afafaf;
}

.filters {
    margin-top: 50px;
}

.filters label {
    padding: 15px 0;
    width: 200px;
    background-color: #ffffff;
    display: flex;
    margin: 20px;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid #afafaf;
    cursor: pointer;
}

label:last-child {
    margin-top: 40px;
}

input[type="radio"] {
    display: none;
}

#rb1:checked~.bulka,
#rb1:checked~.rulet,
#rb1:checked~.keks {
    display: none !important;
}

#rb2:checked~.tort,
#rb2:checked~.rulet,
#rb2:checked~.keks {
    display: none !important;
}

#rb3:checked~.bulka,
#rb3:checked~.tort,
#rb3:checked~.keks {
    display: none !important;
}

#rb4:checked~.bulka,
#rb4:checked~.rulet,
#rb4:checked~.tort {
    display: none !important;
}
.far{
  display: none;
}

@media screen and (max-width: 730px) {
    h1 {
        font-size: 50px;
    }

    .container {
        display: grid;
        width: 100%;
        height: 250px;
        grid-template-areas:
            "head  head head"
            "nav nav  nav"
            "main main  main"
            "foot foot  foot";
    }

    .slider {
        display: none
    }

    .filters {
        margin-top: 0;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .filters label {
        width: 500px;
        font-size: 25px;
        margin: 10px;
        border-radius: 10px;
    }

    .calories {
        display: none
    }

    .item img {
        width: 95%;
    }

    .main {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .item {
        height: auto;
    }

    header,
    footer {
        width: 92%;
        margin: 10px auto;
    }
    .cont{
      width: 130px;
    }
    .cont:before{
      

    
}

@media screen and (max-width: 375px) {
    h1 {
        font-size: 80px;
    }

    .item {
        width: 100%;
    }

    .name{
      display: none
    }
    .item img {
        margin: 20px;
    }
     .filters label {
        width: 500px;
        font-size: 50px;
        border-radius: 20px;
        margin: 10px
    }
    footer {
    display: block;
    font-size: 40px;
}
}